.link {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

body {
  background-image: url(https://media4.giphy.com/media/aaMe7xemWlR8LwZqyn/giphy-downsized.gif);
  background-size: cover;
}
footer {
  font-weight: bold;
}

h1 {
  text-align: left;
  text-indent: 30px;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
h2 {
  text-align: left;
  text-indent: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: black;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0.336
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-stretch: narrower;
}

h3 {
  text-align: left;
  text-indent: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  font-stretch: narrower;
}

h4 {
  text-align: left;
  text-indent: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-stretch: narrower;
}

footer {
  text-align: right;
  text-indent: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-stretch: narrower;
}
iframe {
  width: 300px;
  height: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2em;
}

.grid-item {
  text-indent: 15px;
}

.grid-items {
  margin-left: 1.5em;
}
