.fire {
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
  font-size: 100px;
}

.hole {
  text-shadow: 0px 2px 3px #666;
}

.blur {
  filter: blur(8px);
  transition: 0.5s all;
}

.blur:hover {
  filter: blur(0);
}

/*span*/
span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

span::before {
  content: "and let it all out";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "and let it all out";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
}

/* PAGE 1 */
.bg-1 {
  background-image: url(https://i.gifer.com/origin/8d/8dbbe753d31824dc38d35567975bec5d.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.521)),
    to(rgba(241, 241, 241, 0))
  );
}

.center {
  margin: auto;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  outline: none;
}

/* summary {
  border: 5px solid red;
}

details {
  border: 5px solid green;
} */

.link-1 {
  color: white;
}

/* Page 2 */
.bg-2 {
  background-image: url(http://media1.giphy.com/media/d3pWWukPJO9a5aqQ/giphy.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 275px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.521)),
    to(rgba(241, 241, 241, 0))
  );
}

.center {
  margin: auto;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  outline: none;
}

/* summary {
  border: 5px solid red;
}

details {
  border: 5px solid green;
} */

.link-1 {
  color: yellow;
}

/* Page 3 */

.bg-3 {
  background-image: url(https://media3.giphy.com/media/3o7aTEqB9SPY43sGkM/giphy.gif?cid=ecf05e47nal1nk082h2zvwyef0s8uee7qizudhto45m57t65&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
.link-3 {
  color: limegreen;
}

/*Page4*/

.bg-4 {
  background-image: url(https://media2.giphy.com/media/l3vRn4KCm40C5vSmY/giphy.gif?cid=ecf05e47trskwuoucoh8z75sgrxyqfl71kpgm3qq6hvpmome&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*Page 5*/
.bg-5 {
  background-image: url(https://giffiles.alphacoders.com/130/13075.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}

/*page6*/
.bg-6 {
  background-image: url(https://i.gifer.com/8FQT.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}

/*page7*/
.bg-7 {
  background-image: url(https://filmvibes.files.wordpress.com/2016/10/tumblr_od616ohlfn1qck9jso9_r1_540.gif?w=356&h=149);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}

/*page8*/
.bg-8 {
  background-image: url(https://giffiles.alphacoders.com/210/210054.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}

/*page9*/
.bg-9 {
  background-image: url(https://64.media.tumblr.com/d2d01b97555f31b8fae78c1874cfc4a3/d44eb24c142b29f1-f6/s500x750/96ad4fc4d25f65b07d1efe8dae5a37882527fc64.gifv);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}

/*page10*/
.bg-10 {
  background-image: url(https://i.gifer.com/JI3.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*page11*/
.bg-11 {
  background-image: url(https://64.media.tumblr.com/6f6e0dcef966c725ca29fc417addc603/tumblr_p4cjgrEeNq1x1417fo2_1280.gifv);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*page12*/
.bg-12 {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/original-1572363984.gif?resize=480:*);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*page13*/
.bg-13 {
  background-image: url(https://media.giphy.com/media/3o7TKG6kkZpWbyoFTa/source.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*page14*/
.bg-14 {
  background-image: url(https://soundstudies.files.wordpress.com/2018/10/inj.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
/*page15*/
.bg-15 {
  background-image: url(https://media2.giphy.com/media/26uf1DJraYuR6SMfe/giphy.gif?cid=6c09b952f29c17455cbebca9040b76c1ab3278949d398601&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: grid;
  height: 100vh;
  font-size: 30px;
  color: white;
  margin-top: 250px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.329)),
    to(rgba(241, 241, 241, 0))
  );
}
